In [19]:
import pandas as pd
from pprint import pprint
file_names = ['2011.txt', '2012.txt', '2013.txt', '2014.txt', '2015.txt', '2016.txt', '2017.txt', '2018.txt', '2019.txt']
linii_without_end = ['\n<span id="line198572"', '\n<span id="line208034"', '\n<span id="line178017"', '\n<span id="line193702"', '\n<span id="line168945"', '\n<span id="line134083"', '\n<span id="line104273"', '\n<span id="line131510"', '\n<span id="line129229"']
linii_without_start = ['<span id="line1353"></span>',
                       '<span id="line1325"></span>',
                       '<span id="line1316"></span>',
                       '<span id="line1321"></span>',
                       '<span id="line1333"></span>',
                       '<span id="line1324"></span>',
                       '<span id="line1305"></span>',
                       '<span id="line1333"></span>',
                       '<span id="line1329"></span>']
data_universities_lst = []
for filename, end, start in zip(file_names, linii_without_end, linii_without_start):
    print(filename)
    html_code = open(filename, 'r').read()
    lst = html_code.split(end)
    data_universities_without_end = lst[0]
    lst_1 = data_universities_without_end.split(start)
    data_universities = lst_1[1]
    data_universities_lines = data_universities.split('\n')
    data_universities_lines = [line for line in data_universities_lines if '    ' in line]
    data_universities_lines = [i.split('    ')[1] for i in data_universities_lines]
    #pprint(data_universities_lines[:20])
    #pprint(data_universities_lines[-21:])
    
    len_data_universities_lines = len(data_universities_lines)
    
    if filename in ['2011.txt', '2012.txt']:
        for i in range(0, len_data_universities_lines, 11):
            oblast = data_universities_lines[i]

            university = data_universities_lines[i+1]

            ball = data_universities_lines[i+3]
            data_universities_lst.append([oblast, university, ball, filename[:4]])
        
    if filename in ['2013.txt', '2014.txt']:
        for i in range(0, len_data_universities_lines, 10):
            oblast = data_universities_lines[i]

            university = data_universities_lines[i+1]

            ball = data_universities_lines[i+2]
            data_universities_lst.append([oblast, university, ball, filename[:4]])

    if filename in ['2015.txt']:
        for i in range(0, len_data_universities_lines, 11):
            oblast = data_universities_lines[i]
            
            university = data_universities_lines[i+1]
            
            ball = data_universities_lines[i+2]
            data_universities_lst.append([oblast, university, ball, filename[:4]]) 
    if filename in ['2016.txt']:
        for i in range(0, len_data_universities_lines, 9):
            oblast = data_universities_lines[i]

            university = data_universities_lines[i+1]

            ball = data_universities_lines[i+2]
            data_universities_lst.append([oblast, university, ball, filename[:4]])
    if filename in ['2017.txt', '2018.txt', '2019.txt']:
        pprint(data_universities_lines[:20])
        for i in range(0, len_data_universities_lines, 7):
            oblast = data_universities_lines[i]

            university = data_universities_lines[i+1]

            ball = data_universities_lines[i+2]
            data_universities_lst.append([oblast, university, ball, filename[:4]])
        
    #pprint(data_universities_lst)

2011.txt
2012.txt
2013.txt
2014.txt
2015.txt
2016.txt
2017.txt
['Физическая культура',
 'Адыгейский гос. ун-т., г. Майкоп',
 '63.3',
 '-5.3',
 '10',
 '0',
 'Нет',
 'Информатика и вычислительная техника',
 'Адыгейский гос. ун-т., г. Майкоп',
 '57.8',
 '5.7',
 '44',
 '0',
 'Нет',
 'Психолого-педагогическое и специальное (дефектологическое) образование',
 'Адыгейский гос. ун-т., г. Майкоп',
 '53.9',
 '0.4',
 '70',
 '0']
2018.txt
['Реклама и связи с общественностью',
 'Адыгейский гос. ун-т., г. Майкоп',
 '70.2',
 '5.9',
 '13',
 '0',
 'Нет',
 'Филология',
 'Адыгейский гос. ун-т., г. Майкоп',
 '77.4',
 '7.3',
 '20',
 '1',
 'Нет',
 'Физическая культура',
 'Адыгейский гос. ун-т., г. Майкоп',
 '62.5',
 '-0.8',
 '10',
 '0']
2019.txt
['Информатика и вычислительная техника',
 'Адыгейский гос. ун-т., г. Майкоп',
 '50.1',
 '5.2',
 '49',
 '0',
 'Нет',
 'Автоматика и управление',
 'Адыгейский гос. ун-т., г. Майкоп',
 '48.5',
 '-4.8',
 '10',
 '0',
 'Нет',
 'Психология',
 'Адыгейский гос. ун-т., г. Майкоп',
 '67.9',
 '4.8',
 '10',
 '0']

In [20]:
df = pd.DataFrame(data_universities_lst)
df.columns = ['oblast', 'university', 'ball', 'year']
df.head()

,oblast,university,ball,year
0,Социальная работа,"Адыгейский гос. ун-т., г. Майкоп",67.9,2011
1,Автоматика и управление,"Адыгейский гос. ун-т., г. Майкоп",59.1,2011
2,Психолого-педагогическое и специальное (дефект...,"Адыгейский гос. ун-т., г. Майкоп",64.6,2011
3,Психология,"Адыгейский гос. ун-т., г. Майкоп",72.3,2011
4,Лингвистика и иностранные языки,"Адыгейский гос. ун-т., г. Майкоп",63.9,2011

In [21]:
'Санкт-Петербургский гос. архитектурно-строительный ун-т.'
'Санкт-Петербургский гос. архитектурно-строительный ун-т.'
'Санкт-Петербургский гос. архитектурно-строительный ун-т.'

'Санкт-Петербургский гос. архитектурно-строительный ун-т.'

In [23]:
df_spb = df[df['university'] == 'Санкт-Петербургский гос. архитектурно-строительный ун-т.']
df_spb = df[df['university'] == 'Санкт-Петербургский гос. архитектурно-строительный ун-т.']
df_spb = df_spb[df_spb['oblast'] == 'Энергетика и энергетическое машиностроение']
df_spb.sort_values(by='year')
df_spb

,oblast,university,ball,year
3962,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,65.6,2011
9821,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,64.0,2012
15460,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,67.6,2013
21273,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,62.6,2014
26428,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,71.0,2015
31047,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,67.5,2016
35529,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,69.4,2017
40763,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,70.0,2018
46338,Энергетика и энергетическое машиностроение,Санкт-Петербургский гос. архитектурно-строител...,72.6,2019